#navbar { 
  top: 0;
  width: 100%;
  z-index: 111;
  font-weight: bold;
  padding: 0 !important;
  position: fixed; 
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a {
  color: white !important; 
  font-weight: bold;
  float: right;
}

#hero-banner {
  background-color: #7a8aff;
  color: white; 
  padding: 5% 5% 0% 5%;
}

.banner-title {
  font-size: 40px;
  font-weight: 600; 
}
 